<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ul>
    <li [routerLink]="['/page2']" routerDirection="forward">Current Weather</li>
    <li [routerLink]="['/page3']" routerDirection="forward">Forecast</li>
    <li [routerLink]="['/page4']" routerDirection="forward">Historical Weather</li>
  </ul>>
</ion-content>
